.close-container {
  float: right;
}

.close-container:hover {
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.task-btn {
  padding-top: 20px;
  text-align: center;
}

.input-form {
  width: 100%;
}