.background {
  background-color: #EF093F;
}

h1 {
  color: #ffffff;
  padding: 0px 0px 0px 20px;
}

.navbar-brand {
  color: #ffffff;
}

.container-right {
  position: absolute;
  right: 10px;
  // margin-right: 10px;
}

.header-icon {
  // margin: 10px;
  color: #ffffff;
}

.header-icon:hover {
  cursor: pointer;
}

.header-form {
  margin-left: 10px;
}